<head>  
      
    <link rel="stylesheet" href="circularget.component.css" type="text/css">
</head>

<button type="button" class="btn btn-primary" (click)="getCircular()">Get</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Notification Id</th>
            <th>Information Text</th>
            <th>Notification PostedBy</th>
            <th>Notification Date</th>
            <th> Button</th>
            <th>Acknowledgement Date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Circular of Circulars">
            <td>{{Circular.notificationId}}</td>
            <td>{{Circular.informationText}}</td>
            <td>{{Circular.notificationPostedBy}}</td>
            <td>{{Circular.notificationDate}}</td>
            <td><button type="button" class="btn btn-primary" (click)='ACKNOWLEDGEMENT(Circular)'>Acknowledgement</button></td>
            <td>{{Circular.acknowledgementDate}}</td>
        </tr>
    </tbody>
</table>