form{
    width:500px;
    display: inline-block;
}
.container{
width: 500px;
height: auto;
}
body{
    text-align: center;
    background-color:lightgray;
    height: auto;
    }

    label{
        width: 150px;
        display: inline-block;
        margin: 0.1;
        text-align: left;
        font-size: 15px;
        font-weight: lighter;
        height: auto;
    }
    label.form-label{
        text-align:left;
    }
    input {
        width: 55%;
        /* height: 100%; */
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
      }

    

   